@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 320px;
    max-height: 655px;
    border: 2px dotted;
    border-radius: 5% 0;
    padding: 2rem 1rem;
}

body{
    text-align: center;
    /* background-color: #151b29; */
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #ffa260; */
    color: #ffceab;
}


button{
    color: #ffceab;
    background: none;
    /* color: white; */
    border: none;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.25s;
    font-family: 'Roboto Mono', monospace;
    margin: 1em .5em;
    border-radius: 20% 10%;
}

button:hover{
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff53;
    transform: translateY(-.25em);
    border-color: #f1ff53;
}


input{
    border: none;
    border: 2px solid #ffa260;
    padding: 1em 1em;
    font-size: 0.8rem;
    color: #ffa260;
    background: none;
    width: 5rem;
    border-radius: 20% 10%;
}

input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    display: none;
}

input:focus{
    outline: none;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff53;
    transform: translateY(-.25em);
    border-color: #f1ff53;
}


h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    border-bottom: 2px solid;
    padding-bottom: 2rem;
    width: 300px;
}

#counter {
    padding: 2rem;
    font-size: 4rem;
    border-bottom: 2px solid;
    font-family: 'Roboto Mono', monospace;
}

.button {
    padding: 1rem;
}

.goal{
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

